@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Comfortaa&family=Merriweather:wght@900&family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-col-checkout {
  grid-template-columns: 1fr 4fr; /* Adjust the column widths as needed */
}

.custom-card{
  text-align: start;
}

@media screen and (max-width: 367px){
  .custom-card{
    text-align: center;
  }
}

.custom-grid-layout{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: 1fr;
}